* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}
main{
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 350px;
  width: 300px;
  border-radius: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;

}
.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.card h3{
  color: blue;
}
.card p{
  text-align: center;
}