* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Disable body scroll */
body {
  height: 100vh;
  overflow: hidden;
  background: black;
}

/* Scroll container */
main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Reel */
.reels {
  height: 100vh;
  width: 360px;
  margin: auto;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: 12px;
}

/* Image */
.reels video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Bottom content */
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid red;
}

.profile button {

  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.desc {
  font-size: 14px;
  margin-top: 5px;
}

/* Right icons */
.left {
  position: absolute;
  right: 10px;
  bottom: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.left i {
  font-size: 22px;
  cursor: pointer;
}

.left span {
  font-size: 12px;
}
.love{
  color: red;

}
i, p{
  pointer-events: none;
}